
.App {
  text-align: center;
  background-color:rgb(1, 42, 39) ;
    }

.navbar{
  width: 100%;
  height:6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(160, 64, 64);
  position: fixed;
  box-sizing: border-box;
  box-shadow: 5px 5px 100px gainsboro;
  z-index: 110;
}

.logo{
  
  font-size: 18px;
  text-align: center;
  color: rgb(62, 47, 47);
  text-shadow: 5px 5px 5px rgb(247, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(252, 251, 251);
  border-style: outset;
  background-color: rgb(71, 139, 139);
  box-sizing: border-box;
  width: 200px;
  height: 70%;
  box-shadow : 10px 5px 100px gainsboro;
  
 
}

.menu-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li{

  list-style: none;
  
}

a{
  text-decoration: none;
  color:white;
  font-size: 18px;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right:30px;

}

a:not(.active):hover{
    padding: 5px ;
    border: 2px dashed white;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
}

a:active{
  padding: 5px ;
  border: 2px dashed white;
  background-color:rgb(1, 42, 39) ;
  box-sizing: border-box;
  width: 140px;
}



.socialmedia-list{

  display: flex;


}

.socialIcon{
  display: flex;
  height: 50px;
  height: 50px;

}

.btn-container{
  display: none;
  flex-direction: row;
    
}

.prev-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  font-size:25px;
  color: white;
  background-color: rgb(160, 64, 64);
  margin-top: 430px;
  position: absolute;
  z-index: 100;
  margin-left: 3px;
}

.next-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  font-size:25px;
  color: white;
  background-color: rgb(160, 64, 64);
  margin-top: 430px;
  position: absolute;
  z-index: 100;
  margin-left:1465px;
  
}


.card-Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Posters{
    background-color: rgb(0, 0, 0);
    border: 3px dashed white;
    box-sizing: border-box;
    width: 350px;
    text-align: center;
    margin: 10px;
    display:inline-block;
    margin-top: 130px;
}

img {
  height: 350px;
  width: 250px;
  border: 3px dashed white;
  margin-top: 10px;
}

.Posters h3{
  background-color: black;
  color: white;
      
}

.Posters p{
  font-size: 0.8rem;
  text-align: justify;
  color: white;
  margin: 10px;
  font-family: 'Satisfy', cursive;
  background-color: black;
  
      
}

.wiki{
  text-decoration: none;
  background: none;
  color: rgb(238, 3, 3);
}

.watchTraliors{
  height:500px;
  width: 100%;
  margin-top:50px;  
}

#watchTraliors_Img{
  width: 99%;
}

.iframe{
   
  display: inline-block;
  border: 5px groove red;
  margin: 20px;
  margin-left: 100px;
  box-shadow: 5px 5px 20px rgb(99, 96, 96);

}

.video_Cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  
}



li{
  color: rgb(238, 121, 121);
}

.quickList_conatainer{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: start;
  gap:250px;
}

h4{
  text-align: center;
}

#footer{
  text-align:center;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  background-color:rgb(1, 42, 39) ;
  border: 5px dashed white;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px  red;
  width: 350px;
 
}

@media only screen and (max-width:1024px){
  

  .logo{
      margin-top: 10px;   
   
  }

  .socialmedia-list{
    display: none;  
  
  }

  .watchTraliors{
    height:400px;
    width: 100%;
    margin-top:50px;  
  }

  .video_Cards_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;  
    margin-right: 80px;
     
         
  }

  .iframe{
    width:380px;
    
  }

  .btn-container{
    display: none;
    flex-direction: row;
      
  }

}

@media only screen and (max-width:820px){

  .navbar{
    display: flex;
    flex-direction: column;
  
  }

  .logo{
    position: absolute;
    margin-right: 500px;    
   
  } 

  .menu-list{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgb(71, 139, 139);
    margin-top: 280px;
    width: 100%;
  }

  .menu-list-open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgb(71, 139, 139);
    margin-top: 280px;
    width: 100%;
  }

  
    
  .mobile-menu{
    display: flex;
    position: absolute;
    top:27px;
    right:27px;
    flex-direction: column;
    justify-content: space-between;
    width:40px;
    height: 40px;
  }

  .mobile-menu span{
    height: 5px;
    width: 100%;
    background-color:white;
    border-radius: 3px;
  }



  .video_Cards_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;  
    
     
         
  }

  .iframe{
    width:580px;
    
  }

  .btn-container{
    display: none;
    flex-direction: row;
      
  }


}


@media only screen and (max-width:600px){

  .logo{
    margin-left: 320px;
  }


  .iframe{
    width:350px;
    
  }

  .quickList_conatainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-align: start;
    gap:50px;
  }

  #footer{
    text-align:center;
    color: white;
    font-size: 10px;
    background-color:rgb(1, 42, 39) ;
    border: 3px dashed white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 30px  red;
    width: 100px;
       
  }

  .btn-container{
    display: flex;
    flex-direction: row;
      
  }

  .next-btn{

    margin-left:380px;
    
  }

  .card-Container-new{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start;    
    overflow:hidden ;  
  }
  
    

  .video_Cards_Container-new{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: flex-start;    
    overflow:hidden ; 
  }

  .Posters{

    width: 410px;
   
}

}



